<div class="l-column l-column--4 l-column--gap-8">
  <div class="l-column__item">
    <img src="https://dummyimage.com/600x400/cccccc/cccccc" alt="">
  </div>
  <div class="l-column__item">
    <img src="https://dummyimage.com/600x400/cccccc/cccccc" alt="">
  </div>
  <div class="l-column__item">
    <img src="https://dummyimage.com/600x400/cccccc/cccccc" alt="">
  </div>
  <div class="l-column__item">
    <img src="https://dummyimage.com/600x400/cccccc/cccccc" alt="">
  </div>
</div>

